*{
  margin: 0;
}


/* When the screen is less than 600 pixels wide, hide all links, \
except for the first one ("Home"). Show the link that contains should 
open and close the topNav (.icon) */
@media screen and (max-width: 600px) {
  .topNav a:not(:first-child) {
    display: none;
  }

  .topNav a.icon {
    float: right;
    display: block;
  }

  .topNav.responsive {
    position: relative;
  }

  .topNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


 header {
  background-color: #ffc52f;
  
 }
 
 header .title{
  padding: 8px 0 0 20px;
 }

 .topNav .logo{
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding: 4px 0 0 8px;
  
 }


 body{
    display:block;
    min-height: 100vh;
    flex-direction:inherit;
    font-family: "Open Sans", sans-serif;
  }

  main{
    display: block;
    flex-direction: unset;
  }

.topNav {
  background-color: #12284b;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topNav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topNav a:hover {
  background-color: #ffc52f;
  color: black;
}

/*Add a color to the active/current link*/ 
.topNav a.active {
  background-color: #3f495a;
  color: #ffc52f;
}


/* Hide the link that should open and close the topnav on small screens */
.topNav .icon {
  display: none;
}

